@import "tailwindcss";

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-s {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.open-sa{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.open-san{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  
}

.open-sa{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.russo-one-reg {
  font-family: "Russo One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* базовый размер и цвет */
.my-pagination .swiper-pagination-bullet {
  width: 61px;               /* размер */
  height: 18px;
  background-color: rgba(241, 241, 241, 0.2);/* цвет неактивной точки */
  opacity: 1;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

/* активная точка */
.my-pagination .swiper-pagination-bullet-active {
  background-color: rgba(33, 148, 255, 1);/* нужный вам цвет */
 
}

.cart{
  height: 488px;
  width: 100%;   
  
}
@media (max-width: 500px) {
  .cart {
    height: 300px;
  }
}

